In [ ]:
x,y = y,x
print(x)
print(y)

In [1]:
type(range(1))

range

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(4,9))

[4, 5, 6, 7, 8]

In [5]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [6]:
s='string'
print('a' in s)
li = [1,2,3,5,1]
print(3 in li)

False
True

In [8]:
print('안녕,'+'하세요')
print([1,2]+[5,6])

안녕,하세요
[1, 2, 5, 6]

In [9]:
[0]*5

[0, 0, 0, 0, 0]

In [10]:
location = ['서울','대전','구미','광주']
location[0]

'서울'

In [14]:
location[1:3]

['대전', '구미']

In [16]:
r=list(range(30))

In [17]:
len(r)

30

In [18]:
print(min(r))
print(max(r))

0
29

In [19]:
li=[1,2,3,1,2,5,4]
li.count(1)

2

In [20]:
set_a = {1,2,3}
set_b = {3,6,9}
print(set_a - set_b)
print(set_a | set_b)
print(set_a & set_b)

{1, 2}
{1, 2, 3, 6, 9}
{3}

In [21]:
set_c = {1,1,1}
print(set_c)

{1}

In [22]:
list

list

In [23]:
list_a=[1,2,3,1,1,2]
set_a = set(list_a)
print(set_a)

{1, 2, 3}

In [24]:
list(set(list_a))

[1, 2, 3]

In [26]:
dict_a = {}
print(type(dict_a))
dict_b = dict()
print(type(dict_b))

<class 'dict'>
<class 'dict'>

In [28]:
dict_a = {1:1,2:2,3:3,1:4}
print(dict_a)

{1: 4, 2: 2, 3: 3}

In [33]:
phone_book = {"서울":"02", "경기":"031"}
print(phone_book["서울"])

02

In [36]:
phone_book.keys()

dict_keys(['서울', '경기'])

In [37]:
phone_book.values()

dict_values(['02', '031'])

In [39]:
num = 3
if num % 2:
    print('홀수입니다.')
else:
    print('짝수입니다.')

홀수입니다.

In [40]:
score = 85
if score>= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

B

In [41]:
classroom = {'teacher':'kim','student1':'hong','student2':'lee'}
for master in classroom:
    print(master)

teacher
student1
student2

In [46]:
for master in classroom:
    print(classroom[master])

kim
hong
lee

In [59]:
for master in classroom:
    type(master)

In [53]:
import requests

URL_GetLottoNumber = "https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo="

sDrwNum = input("당첨번호 회차:")
resp = requests.get(URL_GetLottoNumber +sDrwNum)

jsResult = resp.json()

if jsResult["returnValue"]=="success":
    print(jsResult)
else :
    print('존재하지 않는 회차 번호')

ModuleNotFoundError: No module named 'requests'

In [79]:
import random

num = range(random.randrange(1,46),6)
print(num)

range(5, 6)

In [61]:
words = 'hi! Everyone, Im kim'

In [62]:
words.capitalize()

'Hi! everyone, im kim'

In [63]:
words.upper()

'HI! EVERYONE, IM KIM'

In [64]:
words.lower()

'hi! everyone, im kim'

In [66]:
words.swapcase()

'HI! eVERYONE, iM KIM'

In [67]:
words = ['hi','hello']
''.join(words)

'hihello'

In [69]:
'yay'.replace('a','e')

'yey'

In [70]:
'apple'.find('l')

3

In [71]:
'apple'.find('k')

-1

In [72]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [74]:
caffe=['starbusck','coffeebean','hollys']
print(caffe)

['starbusck', 'coffeebean', 'hollys']

In [75]:
caffe.append('tomandtoms')

In [76]:
print(caffe)

['starbusck', 'coffeebean', 'hollys', 'tomandtoms']

In [77]:
caffe.extend(['droptop','빽다방'])

In [81]:
print(caffe)

['starbusck', 'coffeebean', 'hollys', 'tomandtoms', 'droptop', '빽다방']

In [83]:
caffe.insert(2,'hi')
print(caffe)

['starbusck', 'coffeebean', 'hi', 'hollys', 'tomandtoms', 'droptop', '빽다방']

In [84]:
numbers=[1,2,3,1,2]
print(numbers)

[1, 2, 3, 1, 2]

In [85]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [86]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [87]:
print(sorted(caffe))

['coffeebean', 'droptop', 'hi', 'hollys', 'starbusck', 'tomandtoms', '빽다방']

In [91]:
numbers=[1,2,3,4,5,6]
print(numbers.pop(0))

1

In [94]:
numbers.index(4)

2

In [93]:
import random
lotto = random.sample(range(1,46),6)
print(lotto)
lotto.sort(reverse=True) #역순으로 뒤집기
print(lotto)

[44, 24, 45, 7, 25, 28]
[45, 44, 28, 25, 24, 7]